@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1400' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(177%2c 131%2c 88%2c 1)'%3e%3c/rect%3e%3cpath d='M933.0059116021981 224.91649400226197L843.2167939930538 276.75626522420043 895.0565652149922 366.54538283334483 984.8456828241366 314.7056116114063z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M40.16994982254105 217.3112974761391L-35.80252639930449 338.89267443070867 85.77885055526511 414.86515065255423 161.75132677711065 293.28377369798466z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1119.7452042327684 351.6559721743416L1041.347899245164 417.4391218747333 1185.5283539331601 430.0532771619461z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M341.97551715235574 400.95736611177836L332.20332813474914 470.49010396907164 441.3885294294924 450.38201856683486z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M495.71824170716036 499.4351651891506L587.3863297181591 491.41524668109156 529.5224079505712 357.9230739186229z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M138.42942350240006 481.6999755002595L31.88823010111257 459.053945754661 115.78339375680156 588.241168901547z' fill='rgba(216%2c 173%2c 121%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  padding-bottom: 100px;
}

.ifotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ifotos img {
  width: 400px;
  height: 500px;
  margin: 12px;
}
.ifotos p {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.cfotos {
  background-color: #f0f0f0;
  margin: 8px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 450px) {
  .ifotos img {
    width: 300px;
    height: 400px;
    margin: 6px;
  }
  .ifotos p {
    font-size: 25px;
  }
}
footer img {
  width: 50px;
  border-radius: 50px;
}

.fr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.derechos {
  background-color: grey;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.clugar {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 35px;
}

.main-niños {
  display: flex;
}

.menu {
  border: 1px solid black;
  background-color: #f0f0f0;
  display: inline-block;
  margin-left: 50px;
  padding: 10px;
  border-radius: 3px;
}
.menu label {
  font-size: 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos img {
  width: 250px;
  height: 250px;
  margin: 15px;
}
.productos p {
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.productos .btn {
  display: flex;
  justify-content: center;
}
.productos button {
  border: 0;
  background-image: linear-gradient(150deg, red, black, white);
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 15px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.productos button span {
  background-color: black;
  padding: 5px 10px;
  border-radius: 6px;
  transition: 0.3s;
}
.productos button:hover span {
  background: none;
}
.productos button:active {
  transform: scale(0.9);
}

.img-color {
  margin: 8px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 650px) {
  .menu {
    display: none;
  }
  .productos {
    display: flex;
    justify-content: center;
  }
}
.sucursales img {
  width: 400px;
  height: 415px;
}

.sucursal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sucursal .txt {
  margin: 20px;
}
.sucursal .img {
  display: flex;
  margin: 50px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.sucursal .map {
  margin: 50px;
}

@media (max-width: 650px) {
  .sucursales img {
    width: 200px;
    height: 200px;
  }
  .sucursales h1 {
    font-size: 15px;
  }
  .sucursales p {
    font-size: 10px;
  }
  .map {
    display: none;
  }
}
.contacto1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacto {
  background-color: #f0f0f0;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.contacto h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
}
.contacto .cnt {
  margin: 5px;
}
.contacto .textarea1 {
  margin: 3px;
}
.contacto .textarea2 {
  display: none;
}

@media (max-width: 430px) {
  .contacto1 {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .contacto {
    max-width: 200px;
    padding: 3px;
  }
  .textarea1 {
    display: none;
  }
  .textarea2 {
    display: flex !important;
    margin: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
