
footer img{
    width: 50px;
    border-radius: 50px;
}

.fr{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.derechos p{
    display: flex;
    justify-content: center;
    background-color: grey;
}
